*{
  padding: 0;
  margin: 0;
  font-family: 'Josefins Sans' sans-serif;
  box-sizing: border-box;
}
body{
  background-color:black;
}
.star{
  height: 100vh;
  width: 100%;
  background-color: black;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
  padding-left: 8%;
  padding-right: 8%;
}
.logo{
  color: white;
  font-size: 50px;
  letter-spacing: 1px;
  cursor: pointer;
}
span{
  color: #f9004d;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
  text-transform: capitalize;
}
nav ul li a:hover{
  color: #f9004d;
  transition: .4s;
}

.about{
  width: 100%;
  padding: 78px 0px;
  background-color: #191919;
}
.about img{
  height: auto;
  width: 400px;
  margin-right: 10px;
}
.about text{
  width: 550px;
}
.main{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.title h1{
  color: white;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.title p{
  color: #fcfcfc;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

.inner{
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
